header {
  /* position: fixed; */

  width: 100%;
  z-index: 100;
  /* background-color: #F7F8FD; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.navbar__container {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Menu Mobile inicio */
.mobile__menu {
  display: none;
  flex-direction: column;
  /* gap: 5px; */
  cursor: pointer;
}
.line {
  width: 20px;
  height: 2px;
  background-color: var(--red); /* Cor vermelha  para teste*/
  margin: 2px 0;
  border-radius: 2px;
}
/* Menu Mobile fim */

/* Logo */
.logo__container {
  width: 125px;
  height: 35px;
}
.logo__container > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* fim logo */
/* Lista de navegação */
.nav__list {
  display: flex;
  gap: 20px;
}
.nav__item > a {
  color: var(--grayish-violet);
  font-weight: 500;
}
.nav__list a:hover {
  color: var(--very-dark-violet);
}

/* fim Lista de navegação */

/* login e cadastro */
.login__cadastro {
  display: flex;
  align-items: center;
  gap: 20px;
}
.link_login {
  color: var(--grayish-violet);
  font-weight: 500;
}
.link_login:hover {
  color: var(--very-dark-violet);
}
.link_cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--cyan);
  color: #fff;
  font-weight: 500;
}
.link_cadastro:hover {
  opacity: 0.6;
}
