main {
  border: 2px solid black;
  min-height: calc(100vh - 104px);
  /* margin-top: 100px; */
}
.text__img__container {
  min-height: 530px;
  border: 2px solid blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 150px;
  position: relative;
}
.div__title__text__button__container {
  width: 35%;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid greenyellow;
}
.div__title__text__button__container h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
.div__title__text__button__container p {
  color: var(--grayish-violet);
}
.btn_get {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--cyan);
  color: #fff;
  font-weight: 500;
  transition: 0.3s ease;
}
.btn:hover {
  opacity: 0.8;
}
.div__img__container {
  border: 2px solid red;
  width: 45%;
}

.div__img__container img {
  max-width: 750px;
  position: absolute;
  top: 10%;
  right: -20%;
  transform: translateX(-20%);
  object-fit: contain;
}

/* 2 section class input__link__cart__container */

.input__link__cart__container {
  border: 2px solid red;
  background-color: var(--gray-background-card);
  padding: 90px 0 100px;
  margin-bottom: 100px;
  position: relative;
}

.form__input__btn__container {
  border: 2px solid red;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-violet);
  background-image: url(../assets/images/bg-shorten-desktop.svg);
  background-size: cover;
  padding: 50px;
  border-radius: 10px;
  position: absolute;
  top: -81px;
}
.div__input__spam__btn {
  width: 100%;
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.div__input__span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  width: 80%;
  border: 2px solid red;
}
#input__url {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  outline: none;
}

#input__url::placeholder {
  color: var(--grayish-violet);
  font-weight: 500;
}
.span__alert {
  color: var(--red);
  font-size: 14px;
  display: block;
}
.alert {
  display: flex;
  border: 1px solid var(red);
}
.btn__shorten {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--cyan);
  color: #fff;
  font-weight: 500;
  /* font-size: 18px; */
  transition: 0.3s ease;
}

.url__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 400px;
  overflow-y: auto;
  padding: 5px 10px 10px;
}
.url__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
  padding: 10px 25px;
  background-color: #fff;
}
.old__url {
  font-weight: 500;
}
.new_url {
  color: var(--cyan);
  font-weight: 500;
}
.div__new_url__btn {
  display: flex;
  gap: 20px;
  align-items: center;
}
.btn__copy {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--cyan);
  color: #fff;
  font-weight: 500;
  /* font-size: 18px; */
  transition: 0.3s ease;
}

.div__text__card__container{
  padding-top: 150px;
  display: flex;
  justify-content: center;
}
.div__text{
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  max-width: 500px;
}
/* input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background: url("data:image/svg+xml;utf8,\
  <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'>\
    <line x1='1' y1='1' x2='13' y2='13' stroke='black' stroke-width='2'/>\
    <line x1='1' y1='13' x2='13' y2='1' stroke='black' stroke-width='2'/>\
  </svg>")
    no-repeat center center;
  background-size: contain;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
} */

/* 3 section class link__cart__container */
