/* Reset básico para remover estilos padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remover estilos padrões de listas */
ul,
ol {
  list-style: none;
}

/* Remover sublinhado de links e configurar cor padrão */
a {
  text-decoration: none;
  color: inherit;
}

/* Garantir que imagens não ultrapassem seus containers */
img {
  max-width: 100%;
  height: auto;
}

/* Melhorar a aparência de fontes em navegadores modernos */
body {
  width: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-size: 18px;
  /* overflow: hidden; */
  /* border: 2px solid red; */
}

/* Padronização de botões */
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  /* A propriedade font-family: inherit; no botão (<button>) herda a fonte do elemento pai. */
}

.hover_link > a > img {
  transition: 0.3s ease;
  filter: invert(0);
}
.hover_link > a:hover > img {
  filter: invert(0.5);
}
.container_main_center {
  width: 90%;
  margin: auto;
}
